.jigsaw-input {
  display: flex;
  justify-content: flex-start;
  font-family: $input-font-family;
  &:not(:last-child) {
    margin-bottom: $input-margin-bottom;
  }

  > input {
    padding: $input-padding-y $input-padding-x;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    line-height: $input-line-height;
    background: $input-bg;
    color: $input-color;
    border: $input-border-width solid $input-border-color;
    box-shadow: $input-box-shadow;
    border-radius: $input-border-radius;
    transition: $input-transition;
    &::placeholder {
      color: $input-placeholder-color;
    }
    &:focus {
      background: $input-focus-bg;
      border-color: $input-focus-border-color;
      color: $input-focus-color;
      box-shadow: $input-focus-box-shadow;
    }
  }
  &.input-sm {
    > input {
      padding: $input-padding-y-sm $input-padding-x-sm;
      font-size: $input-font-size-sm;
      border-radius: $input-border-radius-sm;
    }
  }
  &.input-lg {
    > input {
      padding: $input-padding-y-lg $input-padding-x-lg;
      font-size: $input-font-size-lg;
      border-radius: $input-border-radius-lg;
    }
  }
  &.is-disabled {
    > input {
      pointer-events: none;
      cursor: not-allowed;
      background: $input-disabled-bg;
      border-color: $input-disabled-border-color;
    }
  }
  .input-prepend,
  .input-append {
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    line-height: $input-line-height;
    background: $input-bg;
    color: $input-color;
    padding: $input-padding-y $input-padding-x;
    border: $input-border-width solid $input-border-color;
    box-shadow: $input-box-shadow;
    border-radius: $input-border-radius;
  }
  .input-prepend {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .input-append {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.has-prepend {
    > input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &.has-append {
    > input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
