.jigsaw-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  border-bottom: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;
  .menu-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    border-bottom: transparent solid $menu-item-active-border-width;
    &:hover,
    &:focus {
      text-decoration: none;
    }
    &.is-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }
    &.is-active,
    &:hover {
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-color solid $menu-item-active-border-width;
    }
  }
}

.submenu-item {
  position: relative;
  .submenu-title {
    display: flex;
    align-items: center;
  }
  .arrow-icon {
    margin-left: 5px;
    transition: transform 0.25s ease-in-out;
  }
  &:hover {
    .arrow-icon {
      transform: rotate(180deg);
    }
  }
}
.is-vertical {
  .arrow-icon {
    transform: rotate(0deg) !important;
  }
}
.is-vertical.is-opened {
  .arrow-icon {
    transform: rotate(180deg) !important;
  }
}
.jigsaw-submenu {
  //   display: none; //none 到block 的动画属性会失效
  opacity: 0;
  list-style: none;
  padding-left: 0;
  white-space: nowrap;
  transition: opacity 0.5s ease-in;
  .menu-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    color: $body-color;
    &.is-active,
    &:hover {
      color: $menu-item-active-color !important;
    }
  }
  &.menu-opened {
    // display: block;
    opacity: 1;
  }
}
.menu-horizontal {
  > .menu-item {
    border-bottom: $menu-item-active-border-width solid transparent;
  }
  .jigsaw-submenu {
    position: absolute;
    background: $white;
    z-index: 100;
    top: calc(100% + 8px);
    left: 0;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $submenu-box-shadow;
  }
}

.menu-vertical {
  flex-direction: column;
  border-bottom: 0;
  border-right: $menu-border-width solid $menu-border-color;

  .menu-item {
    border-bottom: 0;
    border-left: transparent solid $menu-item-active-border-width;
    &.is-active,
    &:hover {
      border-bottom: 0;
      border-left: $menu-item-active-color solid $menu-item-active-border-width;
    }
  }
}
